# Ignore everythin
*
# Whitelist subdirectories
!*/

# Whitelist the following extensions
!*.go
!*.md
!.gitignore
!*.css
!*.js
!*.eot
!*.otf
!*.svg
!*.ttf
!*.woff
!*.woff2
!*.service
!*.sh
!Dockerfile
!Makefile
!*.toml
!*.java
!*.tm
!*.tex
!*.pdf
!*.png
!*.zip
!*.jar
!*.ico
!*.webmanifest
